
.footer {
  background-color: #343a40;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
}

#footerCall {
  border: 3px solid #fac24e;
  border-radius: 16px;
  padding: 0px 10px 2px 10px;
}

#imgCall{
    height: 20px;
}

#socialMedia {
    padding-top: 70px;
    justify-content: space-between;
}

#socialMedia a img {
    width: 75px;
    height: 75px;
}
