.subscribe {
  background-image: url(../img/subscribe-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  padding-left: 10%;
  padding-top: 12%;
  padding-right: 30%;
}
