



<div class="hero inner-page">
  <div class="container">
    <div class="row align-items-end ">
      <div class="col-lg-5">
        <div class="intro">
          <h1><strong></strong></h1>
          @*<div class="custom-breadcrumbs"><a asp-controller="home" asp-action="index">Əsas səhifə</a> <span class="mx-2">/</span> <strong>Qeydiyyat</strong></div>*@
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container " style="margin-top:100px; margin-bottom:200px; width:500px;">
    <div class="row">
        <div class="col-sm-12">
            <h4>Sifarişiniz uğurla tamamlandı. Bizi seçdiyiniz üçün təşəkkür edirik. Davam etmək üçün <a asp-action="index" asp-controller="car">linkə keçid edin.</a></h4>
         </div>
    </div>
</div>



