.header{
  background-image: url(../../img/header-img.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
  height: 700px;
  text-align: center;
  padding-top: 130px;
}

.header-content h2{
  margin-top: 50px;
}

img{
  height: 570px;
}

.header-content{
  padding-top: 150px;  
}


